name: Render and Deploy Bookdown

on:
  push:
    branches: main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install packages
        run: Rscript -e 'install.packages("bookdown", repos="https://cloud.r-project.org")'

      - name: Render book
        run: Rscript -e 'bookdown::render_book("index.Rmd")'

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
          clean: true
